body {
  font-family: "Bree Serif", serif;
  background-color: #f34e1c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 54px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 2fr 2fr 2fr;
}

.grid-odd-columns {
    grid-template-columns: 2fr 1fr 
}
.card {
  background-color: white;
  margin: 30px 0;
}

.embed {
    width: 100%;
    aspect-ratio: 1/1;
   

}
.card h3 {
  line-height: 2.5;
}

.card-header.grid{
    grid-gap: 0;
}

.card-body {
  padding: 30px 30px;
}

.card-body p {
  margin-bottom: 20px;
}

.btn {
  display: block;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #f34e1c;
  text-decoration: none;
}

.img-responsive {
  width: 100%;
  
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 100px;
}

section.secondary {
  background-color: rgb(252, 248, 248);
}

header a {
  color: white;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/IOM\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px 0;
  color: white;
  text-align: center;
}
header a {
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color: #f34e1c;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
}

header h1,
h2,
h3 {
  line-height: 1.5;
}
header h1 {
  font-size: 66px;
  letter-spacing: 2px;
}
header h2 {
  font-size: 40px;
  letter-spacing: 2px;
}
header h3 {
  font-size: 24px;
}
header h3 {
  letter-spacing: 3px;
}

main {
  background-color: white;
}
main p {
  opacity: 0.7;
}
main h2,
h3,
h4,
p {
  margin: 0;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/IOM\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  letter-spacing: 2px;
}

footer p {
  opacity: 0.7;
}
footer a {
  opacity: 0.7;
  color: white;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 35px;
  }

  header h1 {
    font-size: 33px;
    line-height: 1;
  }
  header h2 {
    font-size: 20px;
    line-height: 1;
  }
  header h3 {
    font-size: 14px;
    line-height: 1;
  }

  header a {
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #f34e1c;
    background-color: white;
    padding: 0;
    display: inline-block;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 0;
  }
  .section {
    padding: 30px;
  }
}
footer {
  padding: 0px;
}

footer h3 {
  font-size: small;
}

.secondary{
    padding: 0;
}

.embed{
    aspect-ratio: 16/9;
}